.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd700; /* Yellow background */
  padding: 10px 20px;
  color: black;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-options {
  display: flex;
  align-items: center;
  gap: 10px;
}

.language {
  padding: 5px 10px;
  border: none;
  background-color: #fff;
  color: black;
  cursor: pointer;
  background-color: #ffd700;
    font-size: 16px;
  font-weight: bold;
}

.watchlist-btn {
  background-color: #000;
  color: #000000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #ffd700;
  font-size: 16px;
  font-weight: bold;
}

.watchlist-btn::before {
  content: "♥"; /* Heart symbol */
  margin-right: 5px;
  color: #000000;
  background-color: #ffd700;
  font-size: 20px;
}
a{
  text-decoration: none;
  color: #000;
}